.content {
  background-color: #eaedfe;
  min-height: 120px;
}

@media screen and (min-width: 440px) {
  .content {
    grid-column: 1 / span 2;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    order: 5;
    grid-column: 1 / span 3;
  }
}
